
*.plist

externals/ambimonitor.mxo/Contents/MacOS/ambimonitor

externals/ambimonitor.mxo/Contents/PkgInfo

externals/dmxusbpro.mxo/Contents/MacOS/dmxusbpro

externals/dmxusbpro.mxo/Contents/PkgInfo

externals/MIAP.map.mxo/Contents/MacOS/MIAP.map

externals/MIAP.map.mxo/Contents/PkgInfo

externals/MIAP.mxo/Contents/MacOS/MIAP

externals/MIAP.mxo/Contents/PkgInfo

externals/OpenSoundControl.mxo/Contents/MacOS/OpenSoundControl
code/testGrid.maxpat
